body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    color: #d3d3d3; /* Updated to white-grey */
    flex-direction: column; /* Allows footer to be positioned correctly */
}

.container {
    text-align: center;
    color: #d3d3d3; /* Updated to white-grey */
    margin-bottom: 20px; /* Adjust spacing */
}

.logo {
    display: block;
    margin: 0 auto 20px;
    max-width: 200px;
}

h1 {
    margin-bottom: 10px;
    color: #d3d3d3; /* Updated to white-grey */
}

p {
    color: #d3d3d3; /* Updated to white-grey */
}

.description {
    margin-bottom: 20px;
    font-size: 18px;
    color: #d3d3d3; /* Updated to white-grey */
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    color: #d3d3d3; /* Updated to white-grey */
    background-color: grey;
    border: none;
    border-radius: 10px;
    width: 400px; /* Set a fixed width for even size */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.button:hover {
    background-color: #0056b3;
}
